@font-face {
	font-family: "Avenir";
	src: url(../fonts/Avenir.ttc) format("truetype");
}


* {
	font-family: 'Avenir', sans-serif;
}

/* ########################Elements below############################################### */
html {
	/*font-size: 62.5%;*/
}

html,body {
    width: 100%;
    margin: 0px;
    margin-bottom: -1.4rem;
    overflow-x: hidden;
    display: block;
    font-size: 10px;
}

ul {
	list-style-type: none;
}

svg {
	height:0rem;
}
	

/* ########################Reusable Objects############################################### */

/* ------------------------Gooey Filter----------------------*/
.gooey-container {
	-webkit-filter: url(#goo);
	filter: url(#goo);
}

/* ------------------------Scroll Bar------------------------*/
::-webkit-scrollbar {
	width: 10px;
	/*animation*/
	transition-timing-function: all ease 13s;
	-webkit-transition: all ease 13s; /* Safari */
	transition: all ease 13s;
}

::-webkit-scrollbar:hover {
	width: 15px;
	/*animation*/
	transition-timing-function: all 13s;
	-webkit-transition: all 13s; /* Safari */
	transition: all 13s;
}

::-webkit-scrollbar-track {
	background: #eff1fa;
}
 
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(#6274ce, #000230); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6274ce, #000230); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6274ce, #000230); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6274ce, #000230)
}

/* ########################Animations############################################### */
/* ------------------------Rotate------------------------*/
.rotate-180-1 {
	-webkit-animation: rotate180-1 100s ease-in-out 3s infinite; /* Chrome, Safari, Opera */
	animation: rotate180-1 100s ease-in-out 3s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes rotate180-1 {
    from {
    	-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	   -moz-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	     -o-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
    }
    to {
    	transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-moz-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
    }
} 

/* Standard syntax */ 
@keyframes rotate180-1 {
    from {
    	-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	   -moz-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	     -o-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
    }
    to {
    	transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-moz-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
    }
}



/* ########################Navs###################################################### */
nav {
	position: fixed;
	top: 0rem;
	right: 0rem;
}

nav ul {
	position: absolute;
	top: 0rem;
	margin: 0rem;
	padding-left: 0rem;
}

nav ul li {
	height: 6rem;
}

nav ul li p {
	font-size: 1.2rem;
	-webkit-transform: translateY(50px) rotate(90deg);
	   -moz-transform: translateY(50px) rotate(90deg);
	     -o-transform: translateY(50px) rotate(90deg);
}

nav a {
	text-decoration: none;
	color: black;
	margin-left: 2px ;
	/*animation*/
	transition-timing-function: all ease 0.3s;
	-webkit-transition: all ease 0.3s; /* Safari */
	transition: all ease 0.3s;
}

nav a:hover {
	text-shadow: 2px 2px #d7d7d7;
	margin-left: 1px;
	margin-right: 1px;
	/*animation*/
	transition-timing-function: all ease 0.3s;
	-webkit-transition: all ease 0.3s; /* Safari */
	transition: all ease 0.3s;
}

.nav-panel {
	height: 100vh;
	width: 5rem;
	border-left: 1px solid #d7d7d7;
}

.open-nav-button {
	position: absolute;
	top: 0rem;
	left: -4rem;
	height: 4rem;
	width: 4rem;
	background-color: white;
	border: 1px solid #d7d7d7;
	border-right: 0px; 
	border-top: 0px;
	border-radius: 0rem 0rem 0rem 1rem;
}

	/* ++++++++++++Javacript Applied Classes+++*/

/* ########################Header############################################### */
/* -----------------------Containers--------------------------*/
.logo-container {
	height: calc(38.6rem * 1.2); 
	width: calc(38.6rem * 1.2);
	left: calc((100vw - (38.6rem * 1.2)) / 2);
	top: calc((90vh - (38.6rem * 1.2)) / 2);
	position: absolute;
}

@media (max-width: 386px) {
	.logo-container {
		top: calc((90vh - (38.6rem * 1.2)) / 2 + 3rem);
	}
}

@media (max-height: 565px) {
	.logo-container {
		top: calc(6rem);
	}
}



.logo-rotated-container {
	height: 38.6rem; 
	width: 38.6rem; 
	position: absolute;
	top: calc(((38.6rem * 1.2) - 38.6rem) / 2);
	left: calc(((38.6rem * 1.2) - 38.6rem) / 2);
	transform: translateY(0) translateX(0) rotate(-20deg);
	-webkit-transform: translateY(0) translateX(0) rotate(-20deg);
	-moz-transform: translateY(0) translateX(0) rotate(-20deg);
}

/* -----------------------Spinner-----------------------------*/
.logo-bar {
	height: 7rem; 
	width: 28rem; 
	background-color: gray; 
	position: absolute; 
	left: calc((100% - 28rem) / 2); 
	top: calc((100% - 7rem) / 2);
	border-radius: 0.3rem;
	overflow: hidden;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.logo-bar.bar-1 {
	left: calc((100% - 28rem) / 2 + 3.75rem); 
	top: calc((100% - 7rem) / 2 - 10.5rem);
}

.logo-bar.bar-3 {
	left: calc((100% - 28rem) / 2 - 3.75rem); 
	top: calc((100% - 7rem) / 2 + 10.5rem);
}

.logo-image {
	height: calc(38.6rem * 1.5);
	position: absolute;
	top: calc((38.6rem * 1.5 - 31.5rem) / 2 * -1);
	left: calc((38.6rem * 1.5 - 10rem) / 2 * -1);
	-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	   -moz-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	     -o-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
}

.logo-bar.bar-1 .logo-image {
	left: calc(((38.6rem * 1.5 - 10rem) / 2 * -1) + 1.25rem);
}

.logo-bar.bar-2 .logo-image {
	top: calc(((38.6rem * 1.5 - 31.5rem) / 2 * -1) - 10.5rem);
	left: calc(((38.6rem * 1.5 - 10rem) / 2 * -1) + 1.25rem);
}

.logo-bar.bar-3 .logo-image {
	top: calc(((38.6rem * 1.5 - 31.5rem) / 2 * -1) - 21rem);
	left: calc(((38.6rem * 1.5 - 10rem) / 2 * -1) + 1.25rem);
}


/* -----------------------Headlines-----------------------------*/
.title-text {
	position: absolute;
	top: calc((90vh - (38.6rem * 1.2)) / 2 - 4rem);
	left: calc((100vw - (38.6rem * 1.2)) / 2 - 7rem);
	font-size: 2rem;
	letter-spacing: 0.4rem;
	font-weight: 100;
}

@media (max-height: 615px) {
	.title-text {
		top: 2rem;
	}
}

@media (max-width: 624px) {
	.title-text {
		left: 6rem;
	}
}

.title-caption {
	position: absolute;
	top: calc((90vh - (38.6rem * 1.2)) / 2 + (38.6rem * 1.2));
	left: calc((100vw - (38.6rem * 1.2)) / 2 + 16rem);
	font-size: 1.4rem;
	letter-spacing: 0.3rem;
	font-weight: 100;
}

@media (max-height: 565px) {
	.title-caption {
		top: calc(6rem + (38.6rem * 1.2));
	}
}

.title-caption span, .title-text span {
	color: #d7d7d7;
}



/* -----------------------Project Title Objects-----------------------------*/


	/* ++++++++++++Javacript Applied Classes+++*/



