* {
	font-family: 'Open Sans', sans-serif;
}

/* ########################Elements below############################################### */
html {
	/*font-size: 62.5%;*/
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: block;
}

ul {
	list-style-type: none;
}
	/* ~~~~~~~~~~~~~~~~~~~~~Wrap~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	/*#wrap {
		width: 100%;
	    height: 100%;
	    margin: 0px;
	    padding: 0px;
	    overflow-x: hidden; 
	    overflow-y: auto;
	    display: block;
	    /*animation*/
		/*transition-timing-function: all 0.3s;
		-webkit-transition: all 0.3s; /* Safari */
	    /*transition: all 0.3s;
	}*/

	body::after {
		position: absolute;
		bottom: 0rem;
		left: 0rem;
		right: 0rem;
		content: "";
		position: fixed;
		z-index: 100;
		height: 1rem;
		background-color: white;
	}

/* ########################Reusable Objects############################################### */
/* ------------------------Chevron------------------------*/
.chevron-container {
	height: 2rem;
	width: 3rem;
}

.chevron-down {
	left: 0.1rem;
	position: relative;
	content: " ";
	display: inline-block;
	height: 1rem;
	width: 1rem;
	border-top: 0.2rem solid black;
	border-right: 0.2rem solid black;
	transform: translateY(0) translateX(0) rotate(135deg);
	-webkit-transform: translateY(0) translateX(0) rotate(135deg);
	-moz-transform: translateY(0) translateX(0) rotate(135deg);
}

.chevron-container:hover .chevron-down {
	border-top: 0.2rem solid #d7d7d7;
	border-right: 0.2rem solid #d7d7d7;
}

/* ------------------------Cross------------------------*/
.cross-container {
	height: 2rem;
	width: 2rem;
	margin: auto;
}

.cross-container::before {
	position: relative;
	top: 0.4rem;
	left: 0.1rem;
	content: " ";
	display: inline-block;
	height: 1.2rem;
	width: 0.1rem;
	background-color: black;
	transform: translateY(0) translateX(0) rotate(45deg);
	-webkit-transform: translateY(0) translateX(0) rotate(45deg);
	-moz-transform: translateY(0) translateX(0) rotate(45deg);
}

.cross-container::after {
	position: relative;
	top: 0.35rem;
	left: -0rem;
	content: " ";
	display: inline-block;
	height: 1.2rem;
	width: 0.1rem;
	background-color: black;
	transform: translateY(0) translateX(0) rotate(-45deg);
	-webkit-transform: translateY(0) translateX(0) rotate(-45deg);
	-moz-transform: translateY(0) translateX(0) rotate(-45deg);
}

/* ------------------------Light Bulb------------------------*/
.light-bulb {
	background-color: #818a9c;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
}

.light-bulb::before {
	position: relative;
	top: 0.00rem;
	left: 0.00rem;
	content: "";
	display: inline-block;
	background-color: #8f97a7;
	width: calc((5.8 / 6) * 2rem);
	height: calc((5.8 / 6) * 2rem);
	border-radius: 100%;
}

.light-bulb::after {
	content: "";
	display: inline-block;
	position: relative;
	top: -2.4rem;
	left: 0.35rem;
	border-top: calc((2.7 / 7.5) * 2rem) solid #8f97a7;
	border-left: calc((0.8 / 2.7) * (2.7 / 7.5) * 2rem) solid transparent;
	border-right: calc((0.8 / 2.7) * (2.7 / 7.5) * 2rem) solid transparent;
	width: calc((3.7 / 2.7) * (2.7 / 7.5) * 2rem);
}

.light-bulb-2 {
	content: " ";
	display: inline-block;
	position: relative;
	top: -0.2rem;
	left: 0.5rem;
	width:calc((40 / 75) * 2rem);
	height:calc((25 / 75) * 2rem);
	border-radius:0 0 calc((30 / 75) * 2rem) calc((30 / 75) * 2rem);
	background:black;
}

/* ------------------------Spark------------------------------*/

.spark-container {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	transform: translateY(0) translateX(0) rotate(-45deg);
	-webkit-transform: translateY(0) translateX(0) rotate(-45deg);
	-moz-transform: translateY(0) translateX(0) rotate(-45deg);
}

.spark {
	display: inline-block;
	border-bottom:  5px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 8px solid red;
	position: relative;
}

.spark-1 {
	top: -0.2rem;
	left: 0.6rem;
	transform: translateY(0) translateX(0) rotate(-90deg);
	-webkit-transform: translateY(0) translateX(0) rotate(-90deg);
	-moz-transform: translateY(0) translateX(0) rotate(-90deg);
}

.spark-2{
	top: 0rem;
	left: -0.6rem;
	transform: translateY(0) translateX(0) rotate(90deg);
	-webkit-transform: translateY(0) translateX(0) rotate(90deg);
	-moz-transform: translateY(0) translateX(0) rotate(90deg);
}

/* ------------------------Briefcase------------------------*/
.briefcase {
	width: 4rem;
	height: 4rem;
}

.briefcase::before {
	content: "";
	display: inline-block;
	border-top: 2px solid #95392B;
	border-left: 2px solid #95392B;
	border-right: 2px solid #95392B;
	width: 0.8rem;
	height: 1rem;
	border-radius: 0.4rem 0.4rem;
	position: relative;
	top: 1rem;
	left: 0.3rem;
}

.briefcase-2 {
	background-color: #95392B;/*#95392B*/
	width: 2.8rem;
	height: 1.8rem;
	border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
	border: 3px solid #59221A;
	position: relative;
	left: -0.7rem;
}

.briefcase-3 {
	width: 2.8rem;
	height: calc(3.6rem + 3px + 3px + 3px + 3px);
	position: relative;
	top: -2.2rem;
	left: -0.7rem;
}

.briefcase-3 div {
	background-color: #7E3125;
	width: 2.8rem;
	height: 1.8rem;
	border: 3px solid #95392B;
	border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
	position: relative;
	opacity: 1;
	/*animation*/
	transition-timing-function: all 1s;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}

#experience-nav:hover .briefcase-3 {
	-webkit-transform: rotateX(-70deg); /* Safari */
    transform: rotateX(-70deg);
	/*animation*/
	transition-timing-function: all 1s;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}

/* ------------------------Speech Bubble------------------------*/
.speech-bubble {
	height: 2.6rem;
	width: 2.6rem;
	border-radius: 100%;
	background-color: #7f7fff;
}

.speech-bubble::before {
	display: inline-block;
	content: "";
	height: 1.3rem;
	width: 1.3rem;
	background-color: #7f7fff;
	position: relative;
	top: 1rem;
	left: 0.7rem;
	/* move to top:1.3rem; on hover */
}

.letter-i-bottom {
	display: inline-block;
	height: 1.2rem;
	width: 0.5rem;
	border-radius: 0.1rem;
	background-color: white;
	position: relative;
	top: -1.5rem;
	left: 0.3rem;
}

.letter-i-top {
	display: inline-block;
	content: "";
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 100%;
	background-color: white;
	position: relative;
	top: -2.9rem;
	left: 1.05rem;
}

/* ------------------------Envelope------------------------*/
.envelope-1 {
	height: 2rem;
	width: 3rem;
	background-color: #d7fadd;
}

.envelope-1::after{
	display: inline-block;
	content: "";
	display: inline-block;
	border-bottom:  10px solid transparent;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-top: 15px solid #f1fdf3;
	position: relative;
}

/* Use this to animate opening letter effect */
#contact-nav:hover .envelope-2 {
	-webkit-transform: rotateX(160deg); /* Safari */
    transform: rotateX(160deg);
	/*animation*/
	transition-timing-function: all 1.3s;
	-webkit-transition: all 1.3s; /* Safari */
	transition: all 1.3s;
}

.envelope-2 {
	height: 2rem;
	width: 2rem;
	position: relative;
	top:-3rem;
}

.envelope-3 {
	margin-top: 1rem;
	display: inline-block;
	border-bottom:  10px solid transparent;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-top: 20px solid #94f3d3;
	position: relative;
}

/* ########################Reusable Formats############################################### */
/* ------------------------Flex Box------------------------*/
.flex-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-alt {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}


@media (max-width: 545px) {
	.flex-alt {
		flex-direction: row;
		justify-content: center;
	}
}

/* ########################Animations############################################### */
/* ------------------------Bounce------------------------*/
.bounce {
	-webkit-animation: bounce 1s ease-in-out infinite alternate; /* Chrome, Safari, Opera */
	animation: bounce 1s ease-in-out infinite alternate;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes bounce {
    from {
    	top: 0rem;
    }
    to {
    	top: -0.5rem;
    }
} 

/* Standard syntax */ 
@keyframes bounce {
    from {
    	top: 0rem;
    }
    to {
    	top: -0.5rem;
    }
}


/* ########################Nav###################################################### */
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 1;
	height: 100vh;
	max-width: 7rem;
}

ul {
	padding-left: 1rem;
}

@media (max-width: 545px) {
	nav {
		height: 7rem;
		max-width: 100vw;
		width: 100vw;
	}

	ul {
		padding-right: 1rem;
	}
}

.nav-item {
	height: 6rem;
	width: 6rem;
	/*animation*/
	transition-timing-function: all 1s;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}

.nav-item:hover {
	background-color: white;
}

nav a {
	text-decoration: none;
	height: 100%;
	width: 100%;
	display: inline-block;
}

nav a:hover span {
	color: blue;
	opacity: 1;
}

nav a:visited span {
	color: blue;
}

nav span {
	position: relative;
	opacity: 0;
	/*animation*/
	transition-timing-function: all 1s;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}

/* ------------------------Projects Nav------------------------*/
#nav-light-bulb {
	position: relative;
	top: calc((100% - 4rem) * 0.55);
	left: calc((100% - 2rem) * 0.50);
}

#nav-spark {
	/*position: absolute;
	top: 2rem;
	left: 5rem;*/
	position: relative;
	opacity: 0;
	top:-1rem;
	left: 4rem;
}

#projects-nav:hover .light-bulb {

}

#projects-nav:hover #nav-spark {
	opacity: 1;
}

#projects-nav span {
	top: 2.3rem;
}

/* ------------------------Experience Nav------------------------*/
#nav-briefcase {
	position: relative;
	top: calc((100% - 5.7rem) * 0.55);
	left: calc((100% - 1.5rem) * 0.50);
}

#experience-nav span {
	top: 0.3rem;
	left: 0.5rem;
}

/* ------------------------About Nav-----------------------------*/
#about-nav-icon {
	display: inline-block;
	position: relative;
	top: calc((100% - 4rem) * 0.55);
	left: calc((100% - 2.5rem) * 0.50);
}

#about-nav:hover .speech-bubble::before {
	top: 1.3rem;
	left: 0rem;
	/*animation*/
	transition-timing-function: all 0.3s;
	-webkit-transition: all 0.3s; /* Safari */
	transition: all 0.3s;
}

#about-nav span {
	top: 1.6rem;
	left: -1.4rem;
}

/* ------------------------About Nav-----------------------------*/
#contact-nav-icon {
	position: relative;
	top: calc((100% - 3rem) * 0.55);
	left: calc((100% - 3rem) * 0.50);
}

#contact-nav span {
	top: 0.3rem;
	left: 1.2rem;
}

/* ########################Title Card############################################### */
#title-card {
	height: calc(100vh - 2rem);
	margin: 1rem 1rem 1rem 1rem;
	background-color: #ccd7e2;
}

#title-content {
	position: relative;
	top: 30%;
	height: 70%;
	text-align: center;
}

#title-content h1 {
	margin: auto;
	height: 8vw;
}

#title-content h1 img {
	margin: auto;
	height: 8vw;
}

#title-divider {
	margin: 0.7rem auto 0rem auto;
}

#title-content h2 {
	margin: 0.7rem auto 0rem auto;
	font-size: 1rem;
	font-weight: 400;
}

#title-chevron {
	position: relative;
	top: calc(100% - (8vw + 0.7rem + 3.2rem + 2.2rem + 0.7rem) - 2rem);
}






