@font-face {
	font-family: "Avenir";
	src: url(../fonts/Avenir.ttc) format("truetype");
}


* {
	font-family: 'Avenir', sans-serif;
}

/* ########################Elements below############################################### */
html {
	/*font-size: 62.5%;*/
}

html,body {
    width: 100%;
    margin: 0px;
    margin-bottom: -1.4rem;
    overflow-x: hidden;
    display: block;
    font-size: 10px;
}

ul {
	list-style-type: none;
}

svg {
	height:0rem;
}
	

/* ########################Reusable Objects############################################### */

/* ------------------------Gooey Filter----------------------*/
.gooey-container {
	-webkit-filter: url(#goo);
	filter: url(#goo);
}

/* ------------------------Scroll Bar------------------------*/
::-webkit-scrollbar {
	width: 10px;
	/*animation*/
	transition-timing-function: all ease 13s;
	-webkit-transition: all ease 13s; /* Safari */
	transition: all ease 13s;
}

::-webkit-scrollbar:hover {
	width: 15px;
	/*animation*/
	transition-timing-function: all 13s;
	-webkit-transition: all 13s; /* Safari */
	transition: all 13s;
}

::-webkit-scrollbar-track {
	background: #eff1fa;
}
 
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(#6274ce, #000230); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6274ce, #000230); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6274ce, #000230); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6274ce, #000230)
}

/* ########################Reusable Formats############################################### */
/* ------------------------Parallax----------------------*/
.parallax {
	perspective: 1px;
}

.parallax-layer {
	position: absolute;
	top: 0rem;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax-layer.layer-1 {
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	     -o-transform: translateZ(0);
}

.parallax-layer.layer-2 {
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
	   -moz-transform: translateZ(-1px) scale(2);
	     -o-transform: translateZ(-1px) scale(2);
}
/* ########################Animations############################################### */
/* ------------------------Rotate------------------------*/
.rotate-180-1 {
	-webkit-animation: rotate180-1 100s ease-in-out 10s infinite; /* Chrome, Safari, Opera */
	animation: rotate180-1 100s ease-in-out 10s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes rotate180-1 {
    from {
    	-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	   -moz-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	     -o-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
    }
    to {
    	transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-moz-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
    }
} 

/* Standard syntax */ 
@keyframes rotate180-1 {
    from {
    	-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	   -moz-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	     -o-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
    }
    to {
    	transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
		-moz-transform: translateY(0) translateX(0) skew(20deg) rotate(-340deg);
    }
}

/* ------------------------Flip Horizontal------------------------*/
.flip-horizontal {
	-webkit-animation: flipHorizontal 3s ease-in-out 0s infinite; /* Chrome, Safari, Opera */
	animation: flipHorizontal 3s ease-in-out 0s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes flipHorizontal {
    from {
    	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
    }
    to {
    	-webkit-transform: rotateX(360deg);
	   -moz-transform: rotateX(360deg);
	     -o-transform: rotateX(360deg);
    }
} 

/* Standard syntax */ 
@keyframes flipHorizontal {
    from {
    	-webkit-transform: rotateX(0deg);
	   -moz-transform: rotateX(0deg);
	     -o-transform: rotateX(0deg);
    }
    to {
    	-webkit-transform: rotateX(360deg);
	   -moz-transform: rotateX(360deg);
	     -o-transform: rotateX(360deg);
    }
}

/* ------------------------Flip Vertical------------------------*/
.flip-vertical {
	-webkit-animation: flipVertical 3s ease-in-out 1s infinite; /* Chrome, Safari, Opera */
	animation: flipVertical 3s ease-in-out 1s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes flipVertical {
    from {
    	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	     -o-transform: rotateY(0deg);
    }
    to {
    	-webkit-transform: rotateY(360deg);
	   -moz-transform: rotateY(360deg);
	     -o-transform: rotateY(360deg);
    }
} 

/* Standard syntax */ 
@keyframes flipVertical {
    from {
    	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
	     -o-transform: rotateY(0deg);
    }
    to {
    	-webkit-transform: rotateY(360deg);
	   -moz-transform: rotateY(360deg);
	     -o-transform: rotateY(360deg);
    }
}

/* ########################Navs###################################################### */
/* -----------------------Containers--------------------------*/
nav {
	position: fixed;
	top: 0rem;
	right: 0rem;
	height: 100%;
	/*animation*/
	transition-timing-function: all ease 0.3s;
	-webkit-transition: all ease 0.3s; /* Safari */
	transition: all ease 0.3s;
}

@media (max-width: 736px) {
	nav {
		right: -4.6rem;
	}

	.nav-open nav {
		right: 0rem;
	}
}

.nav-panel {
	background-color: white;
	height: 100%;
	width: 5rem;
	border-left: 1px solid #d7d7d7;
}

nav ul {
	position: absolute;
	top: 0rem;
	margin: 0rem;
	padding-left: 0rem;
}

nav ul li {
	height: 6rem;
}

nav ul li p {
	font-size: 1.2rem;
	-webkit-transform: translateY(50px) rotate(90deg);
	   -moz-transform: translateY(50px) rotate(90deg);
	     -o-transform: translateY(50px) rotate(90deg);
}

nav ul li p a {
	text-decoration: none;
	color: black;
	margin-left: 2px ;
	/*animation*/
	transition-timing-function: all ease 0.3s;
	-webkit-transition: all ease 0.3s; /* Safari */
	transition: all ease 0.3s;
}

nav ul li p a:hover {
	text-shadow: 2px 2px #d7d7d7;
	margin-left: 1px;
	margin-right: 1px;
	/*animation*/
	transition-timing-function: all ease 0.3s;
	-webkit-transition: all ease 0.3s; /* Safari */
	transition: all ease 0.3s;
}

	/* ++++++++++++Javacript Applied Classes+++*/

/* -----------------------Open Nav Button--------------------------*/
#open-nav-button {
	position: absolute;
	top: 0rem;
	left: -4.5rem;
	height: 4.5rem;
	width: 4.5rem;
	background-color: white;
	border: 1px solid #d7d7d7;
	border-right: 0px; 
	border-top: 0px;
	border-radius: 0rem 0rem 0rem 1rem;
}

#open-nav-button:hover {
	background-color: #eff1fa;
}

@media (min-width: 737px) {
	#open-nav-button {
		display: none;
	}
}

#open-nav-button .bar-1 {
	position: absolute;
	left: 0.75rem;
	top: 1.6rem;
	height: 0.5rem;
	width: 1.5rem;
	background-color: #d7d7d7;
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

#open-nav-button .bar-2 {
	position: absolute;
	left: 0.75rem;
	top: 2.4rem;
	height: 0.5rem;
	width: 1.5rem;
	background-color: #d7d7d7;
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	-webkit-transform: rotate(-135deg);
	   -moz-transform: rotate(-135deg);
	     -o-transform: rotate(-135deg);
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

	/* ++++++++++++Javacript Applied Classes+++*/
	#open-nav-button.active .bar-1 {
		top: 2rem;
		height: 0.5rem;
		width: 3rem;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
	}

	#open-nav-button.active .bar-2 {
		top: 2rem;
		height: 0.5rem;
		width: 3rem;
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
	}
/* ########################Header############################################### */
/* -----------------------Containers--------------------------*/
header {
	min-height: 100vh;
	min-width: 100%;
}

.logo-container {
	height: calc(38.6rem * 1.2); 
	width: calc(38.6rem * 1.2);
	left: calc((100vw - (38.6rem * 1.2)) / 2);
	top: calc((90vh - (38.6rem * 1.2)) / 2);
	position: absolute;
}

@media (max-width: 386px) {
	.logo-container {
		top: calc((90vh - (38.6rem * 1.2)) / 2 + 3rem);
	}
}

@media (max-height: 565px) {
	.logo-container {
		top: calc(6rem);
	}
}

.logo-rotated-container {
	height: 38.6rem; 
	width: 38.6rem; 
	position: absolute;
	top: calc(((38.6rem * 1.2) - 38.6rem) / 2);
	left: calc(((38.6rem * 1.2) - 38.6rem) / 2);
	transform: translateY(0) translateX(0) rotate(-20deg);
	-webkit-transform: translateY(0) translateX(0) rotate(-20deg);
	-moz-transform: translateY(0) translateX(0) rotate(-20deg);
}

/* -----------------------Spinner-----------------------------*/
.logo-bar {
	height: 7rem; 
	width: 28rem; 
	background-color: gray; 
	position: absolute; 
	left: calc((100% - 28rem) / 2); 
	top: calc((100% - 7rem) / 2);
	border-radius: 0.3rem;
	overflow: hidden;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}

.logo-bar.bar-1 {
	left: calc((100% - 28rem) / 2 + 3.75rem); 
	top: calc((100% - 7rem) / 2 - 10.5rem);
}

.logo-bar.bar-3 {
	left: calc((100% - 28rem) / 2 - 3.75rem); 
	top: calc((100% - 7rem) / 2 + 10.5rem);
}

.logo-image {
	height: calc(38.6rem * 1.5);
	position: absolute;
	top: calc((38.6rem * 1.5 - 31.5rem) / 2 * -1);
	left: calc((38.6rem * 1.5 - 10rem) / 2 * -1);
	-webkit-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	   -moz-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
	     -o-transform: translateY(0) translateX(0) skew(20deg) rotate(20deg);
}

.logo-bar.bar-1 .logo-image {
	left: calc(((38.6rem * 1.5 - 10rem) / 2 * -1) + 1.25rem);
}

.logo-bar.bar-2 .logo-image {
	top: calc(((38.6rem * 1.5 - 31.5rem) / 2 * -1) - 10.5rem);
	left: calc(((38.6rem * 1.5 - 10rem) / 2 * -1) + 1.25rem);
}

.logo-bar.bar-3 .logo-image {
	top: calc(((38.6rem * 1.5 - 31.5rem) / 2 * -1) - 21rem);
	left: calc(((38.6rem * 1.5 - 10rem) / 2 * -1) + 1.25rem);
}


/* -----------------------Headlines-----------------------------*/
.title-text {
	position: absolute;
	top: calc((90vh - (38.6rem * 1.2)) / 2 - 4rem);
	left: calc((100vw - (38.6rem * 1.2)) / 2 - 7rem);
	font-size: 2rem;
	letter-spacing: 0.4rem;
	font-weight: 100;
}

@media (max-height: 615px) {
	.title-text {
		top: 2rem;
	}
}

@media (max-width: 624px) {
	.title-text {
		left: 6rem;
	}
}

.title-caption {
	position: absolute;
	top: calc((90vh - (38.6rem * 1.2)) / 2 + (38.6rem * 1.2));
	left: calc((100vw - (38.6rem * 1.2)) / 2 + 16rem);
	font-size: 1.4rem;
	letter-spacing: 0.3rem;
	font-weight: 100;
}

@media (max-height: 565px) {
	.title-caption {
		top: calc(6rem + (38.6rem * 1.2));
	}
}

.title-caption span, .title-text span {
	color: #d7d7d7;
}

/* -----------------------Gradient-----------------------------*/
.title-gradient {
	width: 100%;
	height: calc((90vh - (38.6rem * 1.2)) / 2 + 3rem);
	background: -webkit-linear-gradient(white 70%, rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white 70%, rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white 70%, rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white 70%, rgba(255,255,255,0)); /* Standard syntax */
}

/* ########################Works############################################### */
/* -----------------------Containers-----------------------------*/
#works-section-container {}

.project-container {
	width: 75rem;
	margin-left: calc((100vw - 75rem) / 2);
	margin-top: calc((100vh - (20rem * 3)) / 3);
	height: 20rem;
	border: 1px solid black;
	border-radius: 0.3rem;
	position: relative;
}

@media (max-height: 635px) {
	.project-container {
		margin-top: 2rem;
	}
}

/* -----------------------Content-----------------------------*/
.project-image {
	height: 100%;
	display: inline-block;
	opacity: 0.5;
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

.project-container:hover .project-image{
	opacity: 1;
}

.project-image img {
	height: 100%;
}

.project-description {
	opacity: 0.5;
	display: inline-block;
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

@media (max-width: 736px) {
	.project-description {
		display: none;
	}
}

.project-container:hover .project-description{
	opacity: 1;
}

.project-description h3 {
	margin: 0;
	font-size: 4rem;
	position: absolute;
	top: 6rem;
	left: 35rem;
}

.project-description p {
	margin: 0;
	font-size: 1.6rem;
	position: absolute;
	top: 13rem;
	left: 35rem;
}



	/* ++++++++++++Javacript Applied Classes+++*/

/* ########################Loading Screen############################################### */
/* -----------------------Containers-----------------------------*/
.loading-screen {
	background-color: #eff1fa;
	position: fixed;
	top: 0;
	width: calc(100vw + 60rem);
	height: calc(100vh + 60rem);
	opacity: 0;
	display: none;
	/*animation*/
	transition-timing-function: all ease 0.5s;
	-webkit-transition: all ease 0.5s; /* Safari */
	transition: all ease 0.5s;
}

.loading-screen-closing .loading-screen {
	opacity: 0;
	display: inline-block;
}

.loading-screen-open .loading-screen {
	opacity: 1;
	display: inline-block;
}
/* -----------------------Loading graphic-----------------------------*/
.ring {
	height: 6rem;
	width: 6rem;
	border-radius: 100%;
	border: 1px solid #6274ce;
	position: absolute;
	top: calc((100vh - 6rem) / 2);
	left: calc((100vw - 6rem) / 2);
}

@media (resolution: 326dpi) {
	.ring {
		border: 3px solid red;
	}
}

/* -----------------------Changes to Scroll-----------------------------*/
.loading-screen-open::-webkit-scrollbar {
	display: none;
}












